// colors
$primary-color: #e4405f ;
$secondary-color: #83796f;
$text-color: #F5F5F5;

 

// fonts
$main-font: 'Lobster', cursive;

// breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;